{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}">
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
   <title>{% block title %} Главная {% endblock %} - Design.pro </title>
</head>
<body>
    <header style="display: flex">
    <a href="{% url 'main:index'  %}">Главная</a>
   {% if user.is_authenticated %}
       <div>
           <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Профиль</a>
           <div class="box dropdown-menu">
               <a class="dropdown-item" href="{% url 'main:profile' %}">Мои кабинет</a>
               <div class="dropdown-divider"></div>
               <form action="{% url 'main:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="dropdown-item" type="submit">Выйти</button>
                </form>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{% url 'main:profile_delete' %}">Удалить</a>
           </div>
       </div>
       {% else %}
       <a href="{% url 'main:register' %}">Регистрация</a>
       <a href="{% url 'main:login' %}">Вход</a>
       {% endif %}
    </header>
    <main>
    <div style="width: 80%;margin-left: 80px; padding-top: 40px">
       {% bootstrap_messages %}
       {% block content %}
           <p style="color: white">Количество заявок в статусе "Принята в работу": {{ num_status }}</p><br>
            <div class="slider-container" style="display: flex; gap: 50px">
                <div class="slider" style="display: flex; gap: 50px">
                    {% for design in designs %}
                        <div class="slide" style="border: 2px white solid; width: 350px; display: flex; flex-direction: column; align-items: center; gap: 5px; padding: 10px">
                            <h2 style="color: white">Пользователь: {{ design.user }}</h2>
                            <strong style="color: white">Название заявки: {{ design.name }}</strong>
                            <p style="color: white">Статус: {{ design.get_status_display }}</p>
                            <p style="color: white">Создана: {{ design.created_at }}</p>
                            <img src="{{ design.image.url }}" alt="{{ design.name }}" width="300" height="250px">
                            <strong style="color: white">Описание</strong>
                            <p style="color: white">{{ design.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="buttonslider">
               <button class="prev-button" type="button" aria-label="Посмотреть предыдущий слайд">&lt;</button>
               <button class="next-button" type="button" aria-label="Посмотреть следующий слайд">&gt;</button>
           </div>
           <script src="{% static 'js/slider.js' %}"></script>
       {% endblock %}
    </div>

    </main>

</body>
</html>

